@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700;900&family=Montserrat&display=swap');
nav{
    font-family: 'Montserrat', sans-serif;

}
img{
    width: 120px ;
    margin-right: 5px;
}
.test{
    color: seagreen !important;
    font-weight: bold;
}